@charset "UTF-8";

.my-4 {
	display: none;
}
.cotaniner {
	margin: 0 auto;
	overflow:scroll;
}
.box {
	text-align: center;
	margin: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	font-weight: bold;
	float: left;
	width: 30%;
	padding: 10px;
	font-size:17px
}
.box a {
	text-decoration-line: none;
}

a:visited {
	color: inherit;
}
.container p{
	font-weight: bold;
	font-size: 50px;
}

.lead {
	font-size:30px;
	color: blue;
	animation: lead 1s infinite;
}
@keyframes lead{
	25% {color: black;}
	50% {color: blue;}
	75% {color: black;}
}

a:hover {
	color: green;
}
.table thead th{
	background-color:rgb(54, 54, 54);
	color:white;
}
table #body tr{
	vertical-align:center;
}
#btn btn-primary{
	text-align:center;
	margin: 0 auto;
}